* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.background {
    background-image: url(images/pic1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

/* container section */

.container {
    height: 100vh;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

/* first page */
.one {
    display: grid;
    grid-template-columns: auto;
    background-color: none;
}

.one h1 {
    display: absolute;
    grid-template-columns: none;
    align-items: center;
    justify-self: center;
    text-align: center;
    width: 100%;
    max-width: 1300px;
    font-size: 15px;
    color: white;
    margin-bottom: 700px;
}

.one h2 {
    display: absolute;
    grid-template-columns: none;
    align-items: center;
    justify-self: center;
    text-align: center;
    width: 100%;
    max-width: 1300px;
    font-size: 40px;
    color: white;
    margin-top: -1400px;
}

.one h3{
    display: absolute;
    grid-template-columns: none;
    align-items: center;
    justify-self: center;
    text-align: center;
    width: 100%;
    max-width: 1300px;
    font-size: 10px;
    color: #fff;
    margin-top: -1300px;
}

.one h3{
    background-color: #b0c0bc;
    opacity: 75%;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 20px;
}

